.App {
  /*color: #7b7b7b;*/
  color: #fff;
}

.App-header {
  background-color: #1A99DC;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

nav {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  padding: 15px;
  color: white;
  border-radius: 5px;
}

nav a:hover {
  color: #a7e1ff;
  background-color: #148ccc;
}

.logo {
  width: 100px;
  height: 100px;
}

.operation-type {
  width: 30px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.app-body {
  width: 500px;
  background: #1a99dc;
  padding: 20px;
}

.wallet-controls input {
  padding: 5px;
  margin: 7px;
}

.wallet-controls button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 70px;
  padding: 6px;
  overflow: hidden;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #01d926;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  border: 1px solid #1b88c1;
  margin: 0 5px;
  cursor: pointer;
}

.wallet-entries {
  margin-top: 50px;
}

.transaction-entry {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.transaction-icon-withdraw {
  width: 20px;
  height: 20px;
  background-image: url("/minus.svg");
  background-repeat: round;
  background-color: white;
  border-radius: 50%;
}

.transaction-icon-deposit {
  width: 20px;
  height: 20px;
  background-image: url("/plus.svg");
  background-repeat: round;
  background-color: white;
  border-radius: 50%;
}

.alert {
  margin-top: 15px;
  padding: 15px;
  background-color: #ffc1c1;
  border: 1px solid red;
}

/** Reusable classes */
.shadows {
  -webkit-box-shadow: 5px 8px 26px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 8px 26px -9px rgba(0,0,0,0.75);
  box-shadow: 5px 8px 26px -9px rgba(0,0,0,0.75);
}

/*MEDIA QUERIES*/

@media screen and (max-width: 560px) {
  nav {
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  nav a {
    padding: 9px;
  }

  .app-body {
    width: 80%;
  }
}